<div style="background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png);">
<div class="container container-complaint">
  <div class="complaint-new-page padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= simple_form_for [@company, @complaint] do |f| %>
          <% if !@company %>
          <%= f.input :company_id, collection: @companies, as: :select %>
          <% end %>
          <%= f.input :title %>
          <%= f.input :description, as: :text %>
          <%= f.input :category, collection: @categories, as: :select %>
          <%= f.input :company_rating, :collection => 1..5 %>
          <%= f.input :photo, as: :attachinary %>
          <%= f.button :submit, class: "btn-claim btn-full" %>
        <% end %>

        <% if !@company %>
          <%= link_to "Back", root_path, class: "btn btn-claim" %>
        <% else %>
          <%= link_to "Back", company_path(@company), class: "btn btn-claim" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
