  <div style="background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png);">

    <div class="container">
      <div class="complaint-show-page">
      <div class="row">
        <div class="col-lg-10 col-sm-6 col-sm-offset-1">
          <div class="message">
            <% if @complaint.company_rating == 1 %>
            <%= image_tag("angry", width: '60' )  %>
            <% elsif @complaint.company_rating == 2 %>
            <%= image_tag("crying", width: '60') %>
            <% elsif @complaint.company_rating == 3 %>
            <%= image_tag("Ok", width: '60') %>
            <% elsif @complaint.company_rating == 4 %>
            <%= image_tag("Good", width: '60') %>
            <% elsif @complaint.company_rating == 5 %>
            <%= image_tag("InLove", width: '60') %>
            <% else %>
            <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
            <% end %>
            <div class="message-name">
              <h4>
                <% if @complaint.company_rating %>
                Rating: <strong><%= @complaint.company_rating %></strong>
                <% end %>
              </h4>
              <p>
                <%= @complaint.created_at.strftime("%d-%m-%Y") %>
              </p>
            </div>
            <div class="message-body">
              <p class="message-title">
                <strong>
                  <%= link_to @complaint.company.name, company_path(@complaint.company) %>

                </strong>
              </p>
              <%= @complaint.description %>
            </p>
          </div>
          <div class="message-status">
            <% if @complaint.status == "1" %>
              <p>Solved</p>
            <% else %>
              <p>Unsolved</p>
            <% end %>
          </div>
        </div>
        <div class="message-body">
          <p> <%= @complaint.response %> </p>
        </div>
        <%=  simple_form_for @complaint do |f| %>
        <%= f.input :response, as: :text %>
        <%= f.button :submit, class: "btn-claim btn-full" %>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</div>

