<div class="messages-show-company">
  <%= link_to complaint_path(complaint), class: "test" do %>
    <div class="message">
      <% if complaint.company_rating == 1 %>
        <%= image_tag("angry", width: '30' )  %>
      <% elsif complaint.company_rating == 2 %>
        <%= image_tag("crying", width: '30') %>
      <% elsif complaint.company_rating == 3 %>
        <%= image_tag("Ok", width: '30') %>
      <% elsif complaint.company_rating == 4 %>
        <%= image_tag("Good", width: '30') %>
      <% elsif complaint.company_rating == 5 %>
        <%= image_tag("InLove", width: '30') %>
      <% else %>
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <% end %>
      <div class="message-name">
         <h4>
          <%= complaint.company_rating %> <%= "*" * complaint.company_rating %>
        </h4>
        <p>
          <%= complaint.created_at.strftime("%d-%m-%Y") %>
        </p>
      </div>
      <div class="message-body">
        <p class="message-title">
          <strong>
            <%= complaint.title.capitalize %>
          </strong>
        </p>
        <p>
          <%= complaint.description.capitalize %>
        </p>
      </div>
      <div class="message-status">
        <p class="status pending">Unsolved</p>
      </div>
    </div>
    <% end %>
      <!-- <a class="message-link" href="#" ></a> -->
  </div>
