<div class="messages-show-company">
  <%= link_to complaint_path(complaint), class: "test" do %>
    <div class="message">
      <% if complaint.company_rating == 1 %>
        <%= image_tag("angry", width: '30' )  %>
      <% elsif complaint.company_rating == 2 %>
        <%= image_tag("crying", width: '30') %>
      <% elsif complaint.company_rating == 3 %>
        <%= image_tag("Ok", width: '30') %>
      <% elsif complaint.company_rating == 4 %>
        <%= image_tag("Good", width: '30') %>
      <% elsif complaint.company_rating == 5 %>
        <%= image_tag("InLove", width: '30') %>
      <% else %>
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <% end %>
      <div class="message-name">
         <h4>
          <% if complaint.company_rating %>
          <% complaint.company_rating.times do %>
            <i class="fa fa-star"></i>
          <% end %>
          <% (5 - complaint.company_rating).times do %>
            <i class="fa fa-star-o"></i>
          <% end %>
          <% end %>
        </h4>
        <p>
          <%= complaint.created_at.strftime("%d-%m-%Y") %>
        </p>
      </div>
      <div class="message-body">
        <p class="message-title">
          <strong>
            <%= complaint.title.capitalize %>
          </strong>
        </p>
        <p>
          <%= complaint.description.capitalize %>
        </p>
      </div>
      <div class="message-status-button">


    <% if complaint.status == "1" %>
      <% status = "Solved" %>
      <% statusclass = "denied" %>
    <% else %>
      <% status = "Unsolved" %>
      <% statusclass = "accepted" %>
    <% end %>
    <h6 class=<%= statusclass %>><strong><%= status %></strong> </h6>

    <div class="mark-button">
      <% if complaint.status == "1" %>
        <%= link_to "Mark as Not Solved", markunsolved_path(id: complaint), class:"btn btn-complaint" %>
      <% else %>
        <%= link_to "Mark as Solved", marksolved_path(id: complaint), class:"btn btn-claim" %>
      <% end %>
    </div>

      </div>
    </div>
    <% end %>
      <!-- <a class="message-link" href="#" ></a> -->
  </div>

