  <!-- Logo -->
  <div class="navbar-wagon">

    <% if params[:controller] == "pages" && params[:action] == "home" %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "unitywhite.svg", height: 40 %>

    <% end %>
    <% else %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "unity.png", height: 40 %>
    <% end %>
    <% end %>
    <% if (params[:controller] == "companies" && params[:action] == "show") || (params[:controller] == "pages" && params[:action] == "home") || (params[:controller] == "users" && params[:action] == "show") %>
    <div class="search-nav inner-addon right-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input type="text" name="query" id="form-search" placeholder="Search" autocomplete="off">
      <ul class="results-dropdown results-dropdown-transparent" id="results">
      </ul>
    </div>
    <% end %>





    <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if !current_user %>
      <% if params[:controller] == "pages" && params[:action] == "home" %>
      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-home-login" %>
      <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>

   <% else %>

   <!-- Links when logged in -->



   <!-- Avatar with dropdown menu -->
   <div class="navbar-wagon-item">
    <div class="dropdown">
      <% avatar_url = current_user.facebook_picture_url || current_user.photo || image_path("profile") %>
      <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "My Profile", profile_path %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
          <i class="fa fa-cog"></i>  <%= t(".settings", default: "Edit") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <% end %>
  <!-- Login link (when logged out) -->
</div>

<!-- Dropdown list appearing on mobile only -->

<div class="navbar-wagon-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <% if current_user %>
        <li>
          <%= link_to "My Profile", profile_path %>
        </li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
          <i class="fa fa-cog"></i>  <%= t(".settings", default: "Edit") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %>
        </li>
        <li>
           <%= link_to "Sign Up", new_user_registration_path %>
        </li>
      <% end %>
   </ul>
 </div>
</div>


</div>



