
<div class="banner" style="background-image: linear-gradient(to left, #3498db 0%, #3f5973 100%);">
  <div class="banner-content">
    <section class="register" >
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <%= render partial: "shared/banner/banner_left" %>
        </div>
        <div class="col-xs-0 col-sm-2">
          <div class="divider-wrapper">
            <div class="divider"></div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5">
        <%= render partial: "shared/banner/banner_right" %>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="container cardcontainer howto-container">
  <div class="row row-howto">
  <h2>How to</h2>
    <div class="cardbox howto col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="steps-howto">
      <%= image_tag("howto-claim.svg", width: '50') %>
      <h4>Post a complaint</h4>
      <p>Explain your problem and the ways you tried to solve it. The more we are the more power we hace as consumers.</p>
      </div>
      <div class="steps-howto">
        <%= image_tag("howto-reply.svg", width: '50') %>
      <h4>Receive a reply</h4>
      <p>Wait for the company to read your complaint and offer a solution.</p>
      </div>
      <div class="steps-howto">
      <%= image_tag("howto-rating.svg", width: '50') %>
      <h4>Solve and rate it</h4>
      <p>Rate if your issue was solved in a helpul way and mark your complaint as solved.</p>
      </div>
    </div>
  </div>
</div>
<div class="last-complaints-container">
  <div class="container">
    <h2>Last complaints</h2>
    <div class="row">
      <div class="profile-right">
        <% @complaints = @complaints.order(created_at: :desc) %>
        <% @complaints.each do |complaint| %>
          <div class="col-lg-6">
            <%= render partial: "shared/messages", locals: { complaint: complaint } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
