
<% if !@complaints.empty? %>

<div class="company-show-banner"></div>

<div class="padding-negative">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render partial: 'shared/cards/company_show_profile_card' %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <%= render partial: 'shared/company_show_charts' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h3 class="text-center last-complaints-company">Last Complaints for <%= @company.name %></h3>
            <% @complaints = @complaints.order(created_at: :desc) %>
            <% @complaints.each do |complaint| %>
              <%= render partial: 'shared/messages_homepage', locals: { complaint: complaint } %>
            <% end %>

          <div class="pagination-container">
            <%= will_paginate @complaints %>
          </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<%= render partial: 'shared/show-nocomplaints' %>
<% end %>
