<% if @company.complaints != [] %>
<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render partial: 'shared/cards/profile_company_card' %>
      </div>
  <div class="col-lg-1"></div>
      <div class="col-lg-7 companycharts">
        <%= render partial: 'shared/chartcompany' %>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
        <h3 class="text-center">Last Complaints for <%= @company.name %></h3>
          <div class="section2">
            <% @complaints.each do |complaint| %>
              <%= render partial: 'shared/messages', locals: { complaint: complaint } %>
            <% end %>
          </div>
          <div class="pagination-container">
            <%= will_paginate @complaints %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<%= render partial: 'shared/show-nocomplaints' %>
<% end %>
