<div class="profile-card">
  <div class="text-center comp-emoji">
    <h3><%= @company.name %></h3>
      <% if @company.logo %>
      <a href="https://www.<%= @company.domain %>" target="_blank">
      <img src="<%= image_path(@company.logo)%>" class="avatar-show" alt="logo">
      </a>
      <% end %>
  </div>
  <br>
  <br>
  <% if @company.company_rating.present? %>
  <p>Overall company rating: <%= @company.company_rating %> / 5</p>
  <% end %>
  <p>Complaints received: <%= @company.complaints_received %></p>
  <p>Complaints answered: 1.790</p>
  <p>Complaints solved: 55%</p>

  <br>
  <br>

  <div class="text-center complaint-button">
    <%= link_to 'Complain now', new_company_complaint_path(@company), class: "btn-complaint btn-lg" %>
  </div>
<br>
<br>

</div>
