<div class="profile-card">
  <div class="text-center comp-emoji">
    <h3><%= @company.name %></h3>
      <% if @company.logo %>
      <a href="https://www.<%= @company.domain %>" target="_blank">
      <img src="<%= image_path(@company.logo)%>" class="avatar-show" alt="logo">
      </a>
      <% end %>
  </div>

  <div class="stars-rating">
   <% if @company.company_rating %>
    <% @company.company_rating.times do %>
      <i class="fa fa-star fa-2x"></i>
    <% end %>
    <% (5 - @company.company_rating).times do %>
      <i class="fa fa-star-o fa-2x"></i>
    <% end %>
    <% end %>
  </div>

  <div class="company-profile">
    <br>
    <p><i class="fa fa-bullhorn fa-lg"></i> received: <%= @company.complaints_received %></p>
    <p><i class="fa fa-bullhorn fa-lg"></i> answered: <%= @company.complaints_answered %></p>
    <p><i class="fa fa-bullhorn fa-lg"></i> solved: <%= @company.complaints_solved %></p>
  </div>
  <br>
  <br>

  <div class="text-center complaint-button">
    <%= link_to 'Complain now', new_company_complaint_path(@company), class: "btn-complaint btn-lg" %>
  </div>
<br>
<br>

</div>
