<div class="profile-card" style="position: fixed;">
  <% if current_user.first_name %>
  <h2><%= current_user.first_name %>'s profile</h2>
  <% else %>
  <h2>Profile</h2>
  <% end %>

  <div class="text-center">
     <% avatar_url = current_user.facebook_picture_url || current_user.photo || image_path("profile") %>
     <%= image_tag avatar_url, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
   </div>

  <br>
  <br>
  <div class="text-center">
    <p><%= @user.email %></p>
  </div>
  <div class="profile-info">
    <p><i class="fa fa-bullhorn fa-lg"></i> submitted: <%= @user.complaints_submitted %></p>
    <p><i class="fa fa-bullhorn fa-lg"></i> answered: 1.790</p>
    <p><i class="fa fa-bullhorn fa-lg"></i> solved: 55%</p>
  </div>
  <br>
  <br>
    <div class="text-center">
    <%= link_to "Edit my profile", edit_user_path(@user), class: "btn-claim" %>
    </div>
<br>
<br>

</div>
